html, body
{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color: #fff;
  color: #2e2f30;
  letter-spacing: 0.5px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
